<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InfomationController</servlet-name>
        <servlet-class>servlet.InfomationController</servlet-class>
        <init-param>
            <param-name>sid</param-name>
            <param-value>DE140172</param-value>
        </init-param>
        <init-param>
            <param-name>pcode</param-name>
            <param-value>3</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>servlet.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>servlet.AddController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfomationController</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
